{% extends 'DoctrineListenerBundle::layout.html.twig' %}

{% block content -%}
    <section>
        <h3>Hello Section</h3>

        <p>Hello {{ name|default('visitor') }}!</p>
    </section>
{% endblock %}
