{% extends 'DoctrineListenerBundle::layout.html.twig' %}

{% block content -%}
    <section>
        <h3>Hello Section</h3>

        <p>Hello {{ name|default('visitor') }}!</p>
    </section>
    {% if gmap is not empty %}{% include 'DoctrineListenerBundle::gmap.html.twig' %}{% endif %}
{% endblock %}
