{% extends 'DoctrineListenerBundle::layout.html.twig' %}

{% block content -%}
    <h1>Shelve creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('shelve') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
